{
    "root": true,
    "plugins": ["security", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:security/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "rules": {
        "no-console": [0]
    }
}
